@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-ExtraBold";
  font-style: normal;
  font-weight: 1000;
  src: url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Italic";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic/OpenSans-Italic.ttf") format("truetype"); }
