/* 	GENERAL STYLE */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

button:active, button:focus, a:active, a:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0 !important; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 16px; }

textarea:focus,
input:focus {
  outline: none; }

li {
  list-style-type: none; }

section {
  width: 100%;
  height: auto;
  padding: 50px 0; }

h2 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px; }
  h2 .line {
    position: relative;
    z-index: 1; }
    h2 .line .bg {
      position: relative;
      z-index: -2; }
    h2 .line:before {
      content: "";
      position: absolute;
      bottom: 19px;
      right: 0;
      height: 10px;
      z-index: -1;
      background: -webkit-gradient(linear, left top, right top, from(rgba(246, 91, 9, 0)), color-stop(35%, #f65b09), color-stop(70%, #f65b09), to(rgba(246, 91, 9, 0)));
      background: linear-gradient(to right, rgba(246, 91, 9, 0) 0%, #f65b09 35%, #f65b09 70%, rgba(246, 91, 9, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f65b09', endColorstr='#00f65b09',GradientType=1 ); }

.btn {
  background: transparent;
  color: #000;
  display: inline-block;
  vertical-align: bottom;
  padding: 5px 25px;
  text-decoration: none !important;
  text-align: center;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #f65b09;
  transition: 0.4s;
  -webkit-transition: 0.4s; }
  .btn:hover {
    background: #f65b09;
    color: #fff; }

/* 	END GENERAL STYLE */
/* PRELOADER */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fcfcfc url("../img/preloader.gif") no-repeat center center;
  background-size: 20%; }

/* END PRELOADER */
/* MAIN BLOCK */
/* Header top */
header {
  height: 50px;
  color: #000;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101; }

.header-top-social {
  text-align: left;
  line-height: 50px; }
  .header-top-social a {
    display: inline-block;
    padding: 6px 4px; }
    .header-top-social a svg {
      fill: #000;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .header-top-social a svg:hover {
        fill: #f65b09; }

.logo-wrap {
  text-align: center;
  line-height: 45px; }
  .logo-wrap img {
    width: 50%; }

/* End header top */
/* Phone header */
.phones {
  text-align: right;
  color: #000;
  line-height: 50px; }
  .phones > div {
    display: block; }
    .phones > div.operators {
      position: relative;
      width: 40px; }
      .phones > div.operators > div {
        left: 5px;
        top: -33px;
        position: absolute;
        width: 20px;
        text-align: center;
        white-space: nowrap;
        display: none; }
        .phones > div.operators > div:last-child {
          display: block; }
        .phones > div.operators > div span {
          display: inline-block;
          vertical-align: middle;
          color: #f65b09; }
  .phones .country-code, .phones .number, .phones .operators {
    display: inline-block; }

/* End phone header */
/* Main carousel */
.slider {
  padding: 50px 0;
  height: 100%; }

.slider * {
  height: 100%;
  width: 100%;
  margin: 0 auto; }

.item h1 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  color: red; }

/* End main carousel */
/* Header bottom */
#aside {
  line-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
  height: 50px !important; }

.header-bottom nav ul {
  margin: 0;
  padding: 0;
  text-align: center; }
  .header-bottom nav ul li {
    padding: 0 30px;
    display: inline-block; }
    .header-bottom nav ul li a {
      padding: 10px 15px;
      font-size: 14px;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .header-bottom nav ul li a:hover {
        color: #f65b09;
        text-shadow: 0px 5px 8px #f65b09; }

/* End headre bottom */
/* Setting sticky */
.sticky {
  position: fixed;
  z-index: 101;
  height: 50px !important; }

.stop {
  position: relative;
  z-index: 101; }

/* End setting sticky */
/* END MAIN BLOCK */
/* WRAP BLOCK */
#article {
  display: block; }

/* About us */
.about-us h2 {
  margin: 0 0 25px 0; }
  .about-us h2 .line:before {
    width: 75%;
    left: 30px; }

.video {
  width: 100%;
  height: auto;
  border: 1px solid black;
  cursor: pointer; }

.playpause {
  margin: auto;
  width: 25%;
  height: 25%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-image: url("../img/media_play_pause_main_color.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer; }

/* End about us */
/* Special wrap  */
.special-wrap {
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1); }
  .special-wrap h3 {
    margin: 0;
    padding-top: 6px;
    font-size: 20px; }
  .special-wrap form {
    text-align: right; }
    .special-wrap form input {
      margin-right: 10px;
      padding: 5px 10px;
      width: 25%;
      border: 1px solid #000;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .special-wrap form input:focus {
        border: 1px solid #f65b09; }

/* End special wrap  */
/* Reviews wrap */
.reviews-wrap {
  text-align: center; }
  .reviews-wrap h2 {
    margin: 0 0 35px 0; }
    .reviews-wrap h2 .line:before {
      width: 54%;
      left: 75px; }
  .reviews-wrap .reviews-item {
    position: relative;
    width: 20%;
    margin: 0 auto; }
    .reviews-wrap .reviews-item video {
      height: 200px;
      width: 200px;
      border-radius: 600px;
      -o-object-fit: cover;
         object-fit: cover; }
    .reviews-wrap .reviews-item .playpause {
      left: 6%;
      bottom: 20%; }
    .reviews-wrap .reviews-item h3 {
      margin: 0;
      padding-top: 15px;
      font-size: 18px; }

/* End reviews wrap */
/* END WRAP BLOCK */
/* FOOTER */
footer {
  text-align: center;
  height: 50px;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0 -8px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -8px 10px 0 rgba(0, 0, 0, 0.1); }
  footer img {
    width: 50%;
    height: auto; }
  footer .footer-left {
    text-align: left; }
    footer .footer-left h4 {
      line-height: 50px;
      margin: 0;
      font-size: 16px; }
  footer .footer-center {
    line-height: 49px; }
  footer .footer-right {
    text-align: right; }
    footer .footer-right p {
      margin: 0;
      line-height: 50px; }

/* END FOOTER */
