/* 	GENERAL STYLE */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

button:active, button:focus, a:active, a:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0 !important; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font-family: "Drugs", sans-serif;
  font-weight: normal;
  font-size: 16px; }

textarea:focus,
input:focus {
  outline: none; }

li {
  list-style-type: none; }

section {
  width: 100%;
  height: auto;
  padding: 60px 0; }

.line {
  position: relative;
  z-index: 1; }

.line::before {
  content: "";
  position: absolute;
  background-color: #f65b09;
  bottom: 0;
  left: 1px;
  right: 0;
  height: 15px;
  z-index: -1; }

.btn {
  background: transparent;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 25px;
  text-decoration: none !important;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 15px;
  border-radius: 600px;
  border: 3px solid #a0ca77;
  transition: 0.3s;
  -webkit-transition: 0.3s; }

.btn:hover {
  background: #009524;
  color: #fff; }

/* 	END GENERAL STYLE */
/* PRELOADER */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fcfcfc url("../img/preloader.gif") no-repeat center center;
  background-size: 100%; }

/* END PRELOADER */
/* MAIN BLOCK */
/* Header top */
header {
  height: 50px;
  padding: 15px;
  color: #fff;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101; }

.header-top-social {
  text-align: left; }
  .header-top-social a {
    padding: 0 5px; }
  .header-top-social i {
    font-size: 20px;
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s; }
    .header-top-social i:hover {
      color: #f65b09; }

.logo-wrap {
  text-align: center;
  line-height: 18px; }
  .logo-wrap img {
    width: 60%; }

/* End header top */
/* Phone header */
.phones {
  text-align: right;
  color: #fff; }
  .phones > div {
    display: block; }
    .phones > div.operators {
      position: relative;
      width: 40px; }
      .phones > div.operators > div {
        left: 5px;
        top: -20px;
        position: absolute;
        width: 20px;
        text-align: center;
        white-space: nowrap;
        display: none; }
        .phones > div.operators > div:last-child {
          display: block; }
        .phones > div.operators > div span {
          display: inline-block;
          vertical-align: middle;
          color: #f65b09; }
  .phones .country-code, .phones .number, .phones .operators {
    display: inline-block; }

/* End phone header */
/* Main carousel */
.slider {
  padding: 50px 0;
  height: 100%; }

.slider * {
  height: 100%;
  margin: 0 auto; }

.slick-next:before, .slick-prev:before {
  padding: 10px 20px;
  color: #000;
  position: absolute; }

.slick-next {
  right: 50px;
  z-index: 2; }

.slick-prev {
  left: 50px;
  z-index: 2; }

.item h1 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  color: red; }

/* End main carousel */
/* Header bottom */
#aside {
  line-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #000;
  height: 50px !important; }

.header-bottom nav ul {
  margin: 0;
  padding: 0;
  text-align: center; }
  .header-bottom nav ul li {
    padding: 0 30px;
    display: inline-block;
    border-right: 2px solid #f65b09; }
    .header-bottom nav ul li:last-child {
      border-right: none; }
    .header-bottom nav ul li a {
      padding: 10px 15px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .header-bottom nav ul li a:hover {
        color: #f65b09;
        text-shadow: 0px 5px 8px #f65b09; }

/* End headre bottom */
/* Setting sticky */
.sticky {
  position: fixed;
  z-index: 101;
  height: 50px !important; }

.stop {
  position: relative;
  z-index: 101; }

/* End setting sticky */
/* END MAIN BLOCK */
/* WRAP BLOCK */
#article {
  display: block; }

/* About us */
.about-us h2 {
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 36px; }

/* End about us */
/* END WRAP BLOCK */
/* FOOTER */
footer {
  height: 50px;
  color: #fff;
  background-color: #000;
  padding: 15px; }

/* END FOOTER */

/*# sourceMappingURL=main.css.map */
