@charset "UTF-8";
/* 	GENERAL STYLE */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

button:active, button:focus, a:active, a:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0 !important; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 16px; }

textarea:focus,
input:focus {
  outline: none; }

li {
  list-style-type: none; }

section {
  width: 100%;
  height: auto;
  padding: 50px 0; }

.wrap {
  min-height: 100%;
  padding-bottom: 50px; }

h2 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px; }
  h2 .line {
    position: relative;
    z-index: 1; }
    h2 .line .bg {
      position: relative;
      z-index: -2; }
    h2 .line:before {
      content: "";
      position: absolute;
      bottom: 19px;
      right: 0;
      height: 10px;
      z-index: -1;
      background: -moz-linear-gradient(left, rgba(246, 91, 9, 0) 0%, #f65b09 35%, #f65b09 70%, rgba(246, 91, 9, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(246, 91, 9, 0) 0%, #f65b09 35%, #f65b09 70%, rgba(246, 91, 9, 0) 100%);
      background: linear-gradient(to right, rgba(246, 91, 9, 0) 0%, #f65b09 35%, #f65b09 70%, rgba(246, 91, 9, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f65b09', endColorstr='#00f65b09',GradientType=1 ); }

.btn {
  background: transparent;
  color: #000;
  display: inline-block;
  vertical-align: bottom;
  padding: 5px 25px;
  text-decoration: none !important;
  text-align: center;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #f65b09;
  transition: 0.4s;
  -webkit-transition: 0.4s; }
  .btn:hover {
    background: #f65b09;
    color: #fff; }

/* 	END GENERAL STYLE */
/* PRELOADER */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fcfcfc url("../img/preloader.gif") no-repeat center center;
  background-size: 20%; }

/* END PRELOADER */
/* ========= MAIN PAGE ========= */
/* MAIN BLOCK */
/* Header top */
.header-main {
  height: 40px;
  color: #000;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101; }

.header-top-social {
  text-align: left;
  line-height: 1; }
  .header-top-social a {
    display: inline-block;
    padding: 7px 4px; }
    .header-top-social a svg {
      fill: #f65b09;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .header-top-social a svg:hover {
        fill: #000; }

.logo-wrap {
  text-align: center;
  line-height: 37px; }
  .logo-wrap img {
    width: 55%; }

/* End header top */
/* Phone header */
.phones {
  text-align: right;
  color: #000;
  font-weight: 1000;
  line-height: 40px; }
  .phones > div {
    display: block; }
    .phones > div.operators {
      position: relative;
      width: 33px; }
      .phones > div.operators > div {
        left: 3px;
        top: -28px;
        position: absolute;
        width: auto;
        text-align: center;
        white-space: nowrap;
        display: none; }
        .phones > div.operators > div:last-child {
          display: block; }
        .phones > div.operators > div span {
          display: inline-block;
          vertical-align: middle;
          color: #f65b09; }
  .phones .country-code, .phones .number, .phones .operators {
    display: inline-block; }

/* End phone header */
/* Main carousel */
.slider {
  padding: 40px 0;
  height: 100%; }

.slider * {
  height: 100%;
  width: 100%;
  margin: 0 auto; }

/* Кнопки для слайдера с градиентом и на всю высоту */
/* .slick-next.slick-arrow
 * height: 100% !important
 * right: 0
 * padding: 0 20px
 * background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.19) 13%, rgba(255,255,255,0.38) 26%, rgba(255,255,255,0.92) 38%, rgba(255,255,255,0.98) 57%, rgba(255,255,255,0.99) 60%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%)
 * background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.19) 13%,rgba(255,255,255,0.38) 26%,rgba(255,255,255,0.92) 38%,rgba(255,255,255,0.98) 57%,rgba(255,255,255,0.99) 60%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 100%)
 * background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.19) 13%,rgba(255,255,255,0.38) 26%,rgba(255,255,255,0.92) 38%,rgba(255,255,255,0.98) 57%,rgba(255,255,255,0.99) 60%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 100%)
 * filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ) */
.item h1 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  color: red; }

/* End main carousel */
/* Header bottom */
#aside {
  line-height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #000;
  background-color: #fff;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
  height: 40px !important; }

.header-bottom nav ul {
  margin: 0;
  padding: 0;
  text-align: center; }
  .header-bottom nav ul li {
    padding: 0 30px;
    display: inline-block; }
    .header-bottom nav ul li a {
      padding: 10px 15px;
      font-size: 14px;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .header-bottom nav ul li a:hover {
        color: #f65b09;
        text-shadow: 0px 5px 8px #f65b09; }

.header-bottom-second {
  line-height: 40px;
  width: 100%;
  color: #000;
  background-color: #fff;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1); }
  .header-bottom-second ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    .header-bottom-second ul li {
      padding: 0 30px;
      display: inline-block; }
      .header-bottom-second ul li a {
        padding: 10px 15px;
        font-size: 14px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.3s;
        -webkit-transition: 0.3s; }
        .header-bottom-second ul li a:hover {
          color: #f65b09;
          text-shadow: 0px 5px 8px #f65b09; }

/* End headre bottom */
/* Setting sticky */
.sticky {
  position: fixed;
  z-index: 101;
  height: 40px !important; }

.stop {
  position: relative;
  z-index: 101; }

/* End setting sticky */
/* END MAIN BLOCK */
/* WRAP BLOCK */
#article {
  display: block; }

/* About us */
.about-us h2 {
  margin: 0 0 25px 0; }
  .about-us h2 .line:before {
    width: 75%;
    left: 30px; }
.about-us h3 {
  margin: 0;
  padding-top: 20px;
  font-size: 24px; }
  .about-us h3 span {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 6px; }
.about-us video {
  border: none; }
  .about-us video span {
    font-weight: 800;
    text-transform: uppercase; }

.video {
  width: 100%;
  height: auto;
  border: 1px solid black;
  cursor: pointer; }

.playpause {
  margin: auto;
  width: 25%;
  height: 25%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../img/media_play_pause_main_color.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer; }

/* End about us */
/* Special wrap  */
.special-wrap {
  box-shadow: 0 0 10px 4px rgba(246, 91, 9, 0.7); }
  .special-wrap h3 {
    margin: 0;
    padding-top: 6px;
    font-size: 20px; }
  .special-wrap form {
    text-align: right; }
    .special-wrap form input {
      margin-right: 10px;
      padding: 5px 10px;
      width: 25%;
      border: 1px solid #000;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .special-wrap form input:focus {
        border: 1px solid #f65b09; }

/* End special wrap  */
/* Advantages wrap */
.advantages-wrap {
  text-align: center; }
  .advantages-wrap h2 {
    margin: 0 0 35px 0; }

/* End Advantages wrap */
/* Reviews wrap */
.reviews-wrap {
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 0 10px 4px rgba(246, 91, 9, 0.7); }
  .reviews-wrap h2 {
    margin: 0 0 35px 0; }
    .reviews-wrap h2 .line:before {
      width: 54%;
      left: 75px; }
  .reviews-wrap .reviews-item {
    position: relative;
    width: 20%;
    margin: 0 auto; }
    .reviews-wrap .reviews-item video {
      height: 200px;
      width: 200px;
      border: none;
      border-radius: 600px;
      box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
      object-fit: cover; }
    .reviews-wrap .reviews-item .playpause {
      left: 6%;
      bottom: 20%; }
    .reviews-wrap .reviews-item h3 {
      margin: 0;
      padding-top: 15px;
      font-size: 18px; }

/* End reviews wrap */
/* END WRAP BLOCK */
/* FOOTER */
footer {
  text-align: center;
  height: 40px;
  color: #000;
  background-color: #fff;
  box-shadow: none; }
  footer img {
    width: 55%;
    height: auto; }
  footer .footer-left {
    text-align: left; }
    footer .footer-left h4 {
      line-height: 40px;
      margin: 0;
      font-size: 16px; }
  footer .footer-center {
    line-height: 49px; }
  footer .footer-right {
    text-align: right; }
    footer .footer-right p {
      margin: 0;
      line-height: 40px; }

.main-footer {
  box-shadow: 0 -8px 10px 0 rgba(0, 0, 0, 0.1);
  height: 40px;
  margin-top: -50px; }

/* END FOOTER */
/* ========= END MAIN PAGE ========= */
/* ========= CONTACTS PAGE ========= */
.contacts-wrap {
  text-align: center;
  width: 100%;
  height: 70vh;
  display: table; }
  .contacts-wrap-info {
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
    .contacts-wrap-info h2 {
      margin-bottom: 30px;
      font-size: 18px; }
  .contacts-wrap .phone-contacts a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: 0.3s;
    -webkit-transition: 0.3s; }
    .contacts-wrap .phone-contacts a:hover {
      color: #f65b09; }
  .contacts-wrap .mail-contacts a {
    text-decoration: underline;
    color: #000;
    font-size: 18px;
    transition: 0.3s;
    -webkit-transition: 0.3s; }
    .contacts-wrap .mail-contacts a:hover {
      color: #f65b09; }
  .contacts-wrap .social-contacts {
    margin-top: 35px; }
    .contacts-wrap .social-contacts svg {
      fill: #f65b09;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .contacts-wrap .social-contacts svg:hover {
        fill: #000; }

/* ========= END CONTACTS PAGE ========= */
/* ========= 404 PAGE ========= */
.error-wrap {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: table; }
  .error-wrap-info {
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
    .error-wrap-info h1 {
      margin: 0;
      font-size: 39px; }
    .error-wrap-info img {
      margin: 20px 0;
      width: 25%; }
    .error-wrap-info a {
      color: #000;
      font-size: 18px;
      text-decoration: none;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .error-wrap-info a:hover {
        color: #f65b09; }

.contacts404 {
  margin-top: 20px; }

/* ========= END 404 PAGE ========= */
/* ========= ZAGLUSHKA PAGE ========= */
.zaglushka h1 {
  font-family: "Hiragino-Regular", sans-serif;
  letter-spacing: 5px;
  font-size: 50px;
  margin-bottom: 30px;
  padding-left: 5px; }

@media (max-width: 1199px) {
  h1 {
    padding-left: 10px; } }
@media (max-width: 991px) {
  .zaglushka h1 {
    font-size: 36px; }
  .zaglushka img {
    width: 50%; } }
@media (max-width: 480px) {
  .zaglushka h1 {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-left: 5px; }
  .zaglushka img {
    width: 90%; } }
/* ========= END ZAGLUSHKA PAGE ========= */
/* ========= PROJECT PAGE ========= */
.our-project {
  padding-bottom: 0;
  text-align: center; }
  .our-project h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 24px; }
  .our-project-item {
    text-align: left;
    position: relative;
    width: 25%;
    max-height: 400px;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    transition: 0.6s;
    -webkit-transition: 0.6s; }
    .our-project-item:hover {
      text-decoration: none;
      color: #000; }
      .our-project-item:hover img {
        transition: 0.6s;
        -webkit-transition: 0.6s;
        opacity: 0.5; }
  .our-project-desc {
    padding: 15px;
    left: 0;
    position: absolute;
    bottom: 40px;
    font-size: 14px; }
    .our-project-desc h2 {
      margin: 0;
      padding-bottom: 15px;
      font-size: 20px; }
    .our-project-desc a {
      position: static; }

/* ========= END PROJECT PAGE ========= */
/* ========= BLOG PAGE ========= */
.blog {
  margin-bottom: 50px;
  padding-bottom: 0;
  text-align: center; }
  .blog h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 24px; }
  .blog-wrap {
    margin: 15px 0;
    position: relative;
    height: 200px;
    box-shadow: 0 0 10px 4px rgba(246, 91, 9, 0.7); }
    .blog-wrap-img {
      width: 35%;
      float: left;
      text-align: left; }
      .blog-wrap-img img {
        max-width: 100%;
        max-height: 200px;
        overflow: hidden; }
    .blog-wrap-description {
      padding: 15px 15px 0 0;
      height: 135px;
      overflow: hidden;
      text-align: left; }
      .blog-wrap-description a {
        position: absolute;
        bottom: 15px;
        right: 15px; }

/* ========= END BLOG PAGE ========= */

/*# sourceMappingURL=main.css.map */
